body{
    background-image: linear-gradient(
        100deg,
        #BA55D3 40%,
        #DA70D6 80%,
        #DDA0DD 40%
    );
    margin: 0;
    min-height: 50vh;
    width: 100%;
  }
  
  main{
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;  
    
  }

  div.box{
    float: left;
    width: 30%;
  }
  
  main > section img {
    height: 300px;
    margin: 15px 0;
    width: 300px;      
  }

  main > section button {
    background-color: black;
    border: none;
    border-radius: 10px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: -0.6px;
    line-height: 20px;    
    padding: 9px 23px;
    text-transform: uppercase;
    
  }
  